<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeya.board.repository.BoardMapper">
	<resultMap type="Board" id="boardResultMap">
		<result property="bno" column="BNO" />
		<result property="writer" column="WRITER" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="regDate" column="REG_DATE" />
		<result property="hitCnt" column="HIT_CNT" />
	</resultMap>

</mapper>